{% extends 'layout.html.twig' %}


{% block main %}
    <div class="jumbotron">
        Symfony est un puissant framework qui va vous permettre
        de réaliser des sites complexes rapidement, mais de façon
        structurée et avec un code clair et maintenable.
        En un mot : le paradis du développeur !
    </div>
{% endblock %}

